extends base

block content
    main.main.movie-home
        form.search-form
            input#searchInput(type="text" placeholder="search movies here")
        .card-container
                .flip-card
                    .flip-card-inner
                        .flip-card-front
                            img(src=`/img/movies/${movie.image}`, alt="movie-name", style="width:300px;height:250px;border-radius:10px")
                        .flip-card-back
                            if user
                                a.movie-link(href=`/genre/${movie.genre}/${movie.slug}`)
                                    h1.movie-name #{movie.name}
                                    p.movie-descrp= `${movie.description.split('.')[0]}...`
                                    h2.movie-rating IMBD #{movie.rating}/10
                            else
                                a.movie-link(href=`/login`)
                                    h1.movie-name #{movie.name}
                                    p.movie-descrp= `${movie.description.split('.')[0]}....`
                                    h2.movie-rating IMBD #{movie.rating}/10


